<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/requestCalculate/input2}" method="post">
     <input type="text" name="num1">+<input type="text" name="num2">=<br>
     <input type="text" name="num3">‐<input type="text" name="num4">=<br>
     <input type="text" name="num5">×<input type="text" name="num6">=<br>
     <input type="text" name="num7">÷<input type="text" name="num8">=<br>
     <button>送信</button>
    </form>
</body>
</html>